@import (inline) 'reset.css';

* {
  box-sizing: border-box;
}
html {
  background: #edeff5;
}
body {
  width: 1366px;
  margin: 0 auto;
  background-color: #edeff5;
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
}
header {
  //background-color: #2a2d30;
  //padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  nav {
    position: relative;
    width: 1366px;
    padding: 0 16px;
    margin: 0 auto;
    background-color: #2a2d30;
  .brand-logo {
    display: inline-block;
    vertical-align: middle;
    padding: 0 48px 0 32px;
  }
  .navigation-wrap {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #9da5be;
        padding: 24px 32px;
        transition: all .3s ease;
        font-size: 16px;
        &:after {
          content:'';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #fff;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          opacity: 0;
          transition: opacity .3s ease;
        }
        &.active{
          color: #fff;
          &:after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            opacity: 1;
          }
        }
        &:hover {
          color: #fff;
          &:after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            opacity: 1;
          }
        }
      }
      //:not(.active) {
      //  color: #9da5be;
      //}
      &:nth-of-type(1),&:nth-of-type(2) {
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px;
          height: 32px;
          background-color: #0a0a08;
          transform: translate(0, -50%);
        }
      }
    }

  }
  #search-form {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0,-50%);
    input[type=text] {
      width: 240px;
      position: relative;
      background-color: rgb(0, 0, 0);
      font: 300 12px 'Open Sans', sans-serif;
      font-style: italic;
      line-height: 1.5;
      color: #8c93b0;
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 12px 12px 12px 32px;
      opacity: .5;
    }
    i.ion-android-search {
      position: absolute;
      top: 50%;
      left: 12px;
      color: #8c93b0;
      //opacity: .5;
      z-index: -1;
      font-size: 14px;
      transform: translate(0, -50%);
    }
  }
  }
}
@media (max-width: 1366px) {
  header nav {
    width: 100%;
  }
}
.vehicle-name {
  background-color: #ffffff;
  padding: 16px 16px 12px;
  border-bottom: 1px solid #e6e8ee;
  font-size: 0;

  width: 1366px;
  margin: 0 auto;
  div {
    h2 {
      font-size: 18px;
      text-align: left;
      color: #2f323a;
      padding-left: 20px;
      margin-bottom: 10px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 4px;
        background-color: #50c14e;
        transform: translate(0, -50%);
      }
    }
    &.sailplane {
      width: 728px;
      width:640px;
      display: inline-block;
    }
    &.airplane {
     /* width: ~"calc(100% - 728px)"; */
      display: inline-block;
      padding-left: 32px;
      h2 {
        &::before {
          background-color: #492a8b;
        }
      }
    }
    &.sailplane,&.airplane {
      span {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        label {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 1.5;
          color: #9da5be;
        }
        input {
          margin-right: 8px;
          width: 192px;
          padding: 8px 24px 8px 12px;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.57;
          border-radius: 4px;
          border: solid 1px #d1d7e9;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
      }
    }
    &.sailplane-type {
      font-size: 0;
      span {
        &:first-child {
          &::after {
            content: '';
            position: absolute;
            left: 128px;
            top: 39px;
            height: 1px;
            width: 1098px;
            z-index: 0;
            background-color: #d1d7e9;
          }
          /*input {
            font-weight: 600;
            color: #50c14e;
            text-transform: uppercase;
          }*/
        }
        &:last-child {
          input {
            margin-right: 0;
          }
        }
      }
    }
    &.airplane-type {
      font-size: 0;
      span {
        /*&:first-child {
          input {
            font-weight: 600;
            color: #492a8b;
            text-transform: uppercase;
          }
        }*/
        &:nth-child(3) {
          padding-right: 28px;
        }
        .label-engine {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 1.5;
          color: #9da5be;
          cursor: default;
        }
      }
    }
    //new type air
    &.vehicle-type {
      font-size: 0;
      div.search-item {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        &:first-child {
          &::after {
            content: '';
            position: absolute;
            left: 128px;
            top: 39px;
            height: 1px;
            width: 1098px;
            z-index: 0;
            background-color: #d1d7e9;
          }
        }
        i.ion-close-round {
          position: absolute;
          top: ~"calc(59px - 20px)";
          right: ~"calc(25px - 8px)";
          font-size: 12px;
          font-weight: 600;
          color: #d1d7e9;
          cursor: pointer;
          transform: translate(0, -50%);
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 1.5;
          color: #9da5be;
        }
        input {
          margin-right: 8px;
          width: 192px;
          padding: 8px 25px 8px 12px;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.57;
          border-radius: 4px;
          border: solid 1px #d1d7e9;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
        .label-engine {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 1.5;
          color: #9da5be;
          cursor: default;
        }
        &:nth-child(4) {
          padding-right: 32px;
          & .autocomplete, & .error-empty-search {
            width: ~"calc(100% - 32px)";
          }
          i.ion-close-round {
            right: 39px;
          }
          input {
            margin-right: 0;
          }
        }
        &:nth-last-child(2) {
          padding-right: 32px;
        }
        & .autocomplete, & .error-empty-search {
          width: ~"calc(100% - 8px)";
        }
      }
    }
    //end type air
  }
  input {
    &#planer, &#plane {
      width: 128px;
      font-weight: 600;
      text-transform: uppercase;
      color: #50c14e;
    }
    &#plane {
      color: #492a8b;
    }
  }
  .btn.btn-engine {
    color: #492a8b;
    border-color: #492a8b;
    background-color: #fff;
    width: 98px;
  }
  .btn.btn-rise {
    width: 106px;
  }
}
.btn {
  font: 600 14px 'Open Sans', sans-serif;
  line-height: 1.57;
  color: #fff;
  background-color: #5093e1;
  border-radius: 4px;
  border: 1px solid #5093e1;
  outline: none;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}
:disabled {
  background-color: #9da5be;
  border: 1px solid #9da5be;
  color: #e6e8ee;
  cursor: not-allowed;
}
section.aircraft-status {
  background-color: #fbfbfb;
  padding: 8px 16px;
  font-size: 0;

  width: 1366px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e8ee;
  h3 {
    font-size: 12px;
    line-height: 1.5;
    color: #9da5be;
    display: inline-block;
    padding-right: 8px;
  }
  span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #50c14e;
    font-size: 12px;
    //line-height: 1.5;
    font-weight: 600;
    border-radius: 4px;
    border: solid 1px #50c14e;
    border-left-width: 4px;
    padding: 5px 25px 5px 8px;
    margin-right: 8px;
    background-color: #fff;
    i.ion-close-round {
      position: absolute;
      top: 50%;
      right: 8px;
      font-size: 12px;
      font-weight: 600;
      color: #d1d7e9;
      cursor: pointer;
      transform: translate(0, -50%);
    }
    &.airplane-model {
      border-color: #492a8b;
      color: #492a8b;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  div {
    &.sailplane-status, &.airplane-status {
      display: inline-block;
    }
    &.sailplane-status {
      width: 728px;
      width:640px;
    }
    &.airplane-status {
     /* width: ~"calc(100% - 728px)"; */
      padding-left: 32px;
    }
  }
}
section.in-air {
  padding: 244px 0 24px;
  & .in-air-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    h2 {
      color: #2f323a;
      font-size: 24px;
      line-height: 1.5;
    }
    & .amount-aircraft {
      font-size: 0;
      & .show {
        font-size: 12px;
        line-height: 1.5;
        color: #9da5be;
        padding-right: 8px;
      }
      a {
        &.baidge {
          font-size: 14px;
          line-height: 1.5;
          text-decoration: none;
          color: #5093e1;
          padding-right: 12px;
          &:last-child {
            padding-right: 0;
          }
        }
        &.active {
          color: #2f323a;
          text-decoration: underline;
        }
      }
    }
  }
  & .in-air-wrap {
    padding-top: 24px;
    & .item {
      padding: 8px 0 8px 24px;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      &:hover {
        background-color: #e6e8ee;
        div.btn-landing {
          visibility: visible;
        }
        span.ion-edit {
          visibility: visible;
        }
      }
      & .airplane-info, & .sailplane-info {
        position: relative;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #d1d7e9;
        padding: 8px 0;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 0;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background-color: #50c14e;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        & > div {
          &:not(:last-child) {
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: 40px;
              background-color: #edeff5;
              transform: translate(0, -50%);
            }
          }
        }
        & .info-mark {
          position: relative;
          padding-left: 16px;
          width: 144px;
          p {
            &.type {
              font-size: 14px;
              font-weight: 600;
              line-height: 1.57;
              color: #50c14e;
              text-transform: uppercase;
              //margin-bottom: 2px;
            }
            &.model {
              font-size: 12px;
              font-weight: 300;
              font-style: italic;
              line-height: 1.5;
              color: #9da5be;
            }
          }
        }
        & .info-cadet {
          position: relative;
          padding-left: 16px;
          width: 256px;
          span {
            &.cadet-number {
              display: inline-block;
              border-radius: 4px;
              border: solid 1px #e6e8ee;
              padding: 0 12px;
              font-size: 12px;
              font-weight: 600;
              line-height: 1.5;
              color: #2f323a;
              background-color: #fbfbfb;
              margin-right: 8px;
              vertical-align: top;
            }
          }
          div {
            display: inline-block;
          }
          & .cadet-name {
            font-size: 14px;
            line-height: 1.5;
            color: #2f323a;
          }
          & .cadet-air-time {
            font-size: 12px;
            font-weight: 300;
            font-style: italic;
            line-height: 1.5;
            color: #9da5be;
            span {
              font-weight: 700;
              font-style: italic;
              line-height: 1.5;
              color: #9da5be;
            }
          }
        }
        & .info-instructor {
          position: relative;
          padding-left: 16px;
          width: 316px;
          span {
            &.instructor-number {
              display: inline-block;
              border-radius: 4px;
              border: solid 1px #e6e8ee;
              padding: 0 12px;
              font-size: 12px;
              font-weight: 600;
              line-height: 1.5;
              color: #2f323a;
              background-color: #fbfbfb;
              margin-right: 8px;
              vertical-align: top;
            }
            &.single-number, &.nobody-number {
              visibility: hidden;
            }
          }
          div {
            display: inline-block;
          }
          & .nobody {
            font-size: 14px;
            line-height: 1.5;
            color: #9da5be;
          }
          & .single {
            font-size: 14px;
            line-height: 1.5;
            color: #9da5be;
          }
          & .instructor-name {
            font-size: 14px;
            line-height: 1.5;
            color: #2f323a;
          }
          & .instructor-exercises {
            font-size: 12px;
            font-weight: 300;
            font-style: italic;
            line-height: 1.5;
            color: #9da5be;
          }
        }
      }
      & .sailplane-info {
        &::before {
          background-color: #492a8b;
        }
        & .sailplane-m {
          p {
            &.type {
              color: #492a8b;
            }
          }
        }
      }
      & .item-btn {
        display: inline-block;
        padding: 0 16px;
        button {
          width: 124px;
        }
        &.btn-landing {
          visibility: hidden;
          padding-right: 0;
        }
        & .btn-separate {
          position: relative;
          //width: 124px;
          &::before,&::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 16px;
            height: 1px;
            background-color: #d1d7e9;
          }
          &::before {
            left: -17px;
          }
          &::after {
            right: -17px;
          }
        }
      }
      span.ion-edit {
        font-size: 16px;
        color: #9da5be;
        cursor: pointer;
        visibility: hidden;
        padding-left: 16px;
        &:hover {
          color: #2f323a;
        }
      }
    }
  }
}


.item .search-item {
  display: inline-block;
  padding-top: 20px;
}
.item .search-item label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
}
.item .search-item input#planer, .item .search-item input#plane {
  width: 128px;
  font-weight: 600;
  text-transform: uppercase;
  color: #50c14e;
}
.item .search-item input {
  //margin-right: 8px;
  width: 192px;
  padding: 8px 25px 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.57;
  border-radius: 4px;
  border: solid 1px #d1d7e9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.item .search-item i.ion-close-round {
  position: absolute;
  top: calc(39px);
  right: calc(9px);
  font-size: 12px;
  font-weight: 600;
  color: rgb(209, 215, 233);
  cursor: pointer;
  transform: translate(0px, -50%);
  display: block;
}
.item .save_model {
  height: 39px;
  outline: none;
  border: none;
}

section.notice {
  //padding-bottom: 24px;
  & .notice-wrap {
    padding-right: 24px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
  & .airplane-notice, & .sailplane-notice {
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #d1d7e9;
    padding: 8px 0;
    margin-bottom: 16px;
    //display: inline-block;
    height: 76px;
    min-height: 76px;
    display: inline-flex;
    flex-flow: row nowrap;
    font-size: 0;
    /*&:last-child {
      margin-bottom: 0;
    }*/
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: #50c14e;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    div {
      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 58px;
          background-color: #edeff5;
          transform: translate(0, -50%);
        }
      }
    }
    & .info-mark-notice {
      position: relative;
      padding-left: 20px;
      width: 200px;
      //vertical-align: middle;
      //display: inline-block;
      align-self: center;
      & .movement {
        //margin-bottom: 2px;
        & .movement-type {
          font-size: 14px;
          line-height: 1.5;
          color: #2f323a;
          padding-right: 4px;
        }
        & .type {
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.57;
          color: #50c14e;
          text-transform: uppercase;

        }
      }
      & .name-fly {
        p {
          span {
            display: inline-block;
          }
        }
        & .pilot-number {
          font-size: 12px;
          font-weight: 700;
          font-style: italic;
          line-height: 1.5;
          color: #9da5be;
          padding-right: 4px;
        }
        & .pilot-name {
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          line-height: 1.5;
          color: #9da5be;
        }
      }
    }
    & .cancel-notice {
      position: relative;
      //padding: 0 32px;
      //align-self: center;
      width: 136px;
      margin: auto;
      text-align: center;
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.57;
        color: #417eda;
      }
    }
  }
  & .sailplane-notice {
    &::before {
      background-color: #492a8b;
    }
    & .info-mark-notice {
      &.sailplane-n {
        & .movement{
          & .type {
            color: #492a8b;
          }
        }
      }
    }
  }
}
section .notice-wrap > :nth-last-child(2) {
  opacity: .8;
}
section .notice-wrap > :nth-last-child(3) {
  opacity: .4;
}


/*autocomplete*/
.autocomplete,.error-empty-search{
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    color: #555;
    max-height: 145px;
    max-height: 120px;
    overflow-y: hidden;
    z-index: 100;
    top: 59px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 4px;
    border-top:none;
  left:0;
  }


.autocomplete p ,.error-empty-search p{
  display: none;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #555;
  padding: 6px 8px;
  cursor: pointer;
  margin: 0;

  /* border-bottom: 1px solid #ccc; */
}
.error_search ~ .error-empty-search p{
  display: block;
}
.search-item{
  position: relative;
}
.autocomplete p.active,.autocomplete p:hover{
  background: lightgray;
}


